<div class="container text-center">
  <h1>PizzaMonster</h1>
  <div class="monster-img-box my-1">
    <i class="nes-mario is-large"></i>
  </div>
  <%= link_to 'はじめる',  monsters_path, class: "nes-btn is-success" %>

</div>