<div class="col-sm-12 col-lg-4 mb-3">
  <div class="card">
    <div class="card-body">
    <h4 class="card-title">
        <%= recipe.name%>
    </h4>
    <ul class="list-inline">
        <li class="list-inline-item">ID:<%= recipe.id%></li>
    </ul>
    <p class="card-text"><%= recipe.gram%></p>
    </div>
  </div>
</div>