<nav class="navbar navbar-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 nes-text is-primary">モンスター一覧</span>
  </div>
</nav>

<ol class="list-group list-group-numbered">
  <%= render @monsters %>
</ol>