<div class="container my-5">
  <h1 class="monster-name text-center"><%=@monster.name%></h1>
  <div class="monster-img d-flex justify-content-center my-5">
    <i class="nes-mario"></i>
  </div>
  <h1 class="monster-level text-center mt-4">level:<%=@monster.level%></h1>
  <div class="game-link btn-box d-flex justify-content-center">
    <%= link_to 'start', games_path(:monster_id => @monster.id), class: "nes-btn is-primary"%>
  </div>
</div>
