<div class="col-sm-12 col-lg-4 mb-3">
  <div class="card">
    <div class="card-body">
    <h4 class="card-title">
        <%= monster.name%>
    </h4>
    <ul class="list-inline">
        <li class="list-inline-item">ID:<%= monster.id%></li>
        <li class="list-inline-item">レベル:<%= monster.level%></li>
    </ul>
    <p class="card-text"><%= monster.detail%></p>
    </div>
  </div>
</div>