<div class="nes-table-responsive">
  <table class="nes-table is-bordered ms-auto">
    <thead>
      <tr>
        <th class="d-flex justify-content-between p-3">
          <p class="m-0">name:<%= @monster.name%></p>
          <p class="m-0">level:<%= @monster.level%></p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="d-flex justify-content-between">
          <div>
            <p class="m-0">HP:</p>
          </div>
          <div class="container">
            <progress class="nes-progress is-error" id="life_monster" value="100" max="100"></progress>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
