<section>
  <dialog class="nes-dialog is-rounded" id="dialog-rounded">
    <form method="dialog">
      <h5 class="title text-center">Game Start!!</h5>
      <p class="text-center">モンスターが現れた!!</p>
      <button class="nes-btn is-primary w-100 battle-start">Start</button>
    </form>
  </dialog>
</section>
