<div class="nes-table-responsive">
  <table class="nes-table is-bordered is-centered">
    <thead>
      <tr>
        <th class="d-flex justify-content-between p-3">
        <p class="m-0">name:ユーザー</p>
        <p class="m-0">level:ビギナー</p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="d-flex justify-content-between">
          <div>
            <p class="m-0">HP:</p>
          </div>
          <div class="container">
            <progress class="nes-progress is-success" id="life_user" value="100" max="100"></progress>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
