<%= render 'audio' %>

<div class="container">
  <div class="d-flex justify-content-between">
    <%= render 'user_info' %>
    <%= render 'monster_info' %>
  </div>
  <div class="monster-img-box text-center">
    <i class="nes-mario"></i>
  </div>
  <%= render 'spel_box' %>
</div>

<script>
  var battleStartBtn = document.querySelector('.battle-start');
  var bgmBtn = document.querySelector('#BGM');
    
  bgmBtn.addEventListener('click', startStop);
  function startStop() {
    if (battle_music.paused) {
      battle_music.play();
    } else {
      battle_music.pause();
    }
  }
</script>

<script>

</script>