    <h1>戦闘画面</h1>
    <p>モンスター名</p>
    <p><%= @monster.name%></p>

    <button>呪文を唱える</button>

    <div>
        <p class="phrase">ここに認識させたい文字が表示されます</p>
        <p class="result">ここに正解かどうか表示されます</p>
        <p class="output">ここに認識された音声が表示されます</p>
    </div>

<script>
var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;

var phrases = gon.names
var phrasePara = document.querySelector('.phrase');
var resultPara = document.querySelector('.result');
var recognizedSentences = document.querySelector('.output');

var startBtn = document.querySelector('button');
var count = 0

function voiceInput() {
  startBtn.disabled = true;
  startBtn.textContent = '認識中';

  var phrase = phrases[count];
  phrasePara.textContent = phrase;
  resultPara.textContent = '正誤判定中';
  resultPara.style.background = 'rgba(0,0,0,0.2)';
  recognizedSentences.textContent = '音声認識中';

  var recognition = new SpeechRecognition();

  recognition.lang = 'ja-JP';

  recognition.interimResults = false;
  recognition.maxAlternatives = 1;

  recognition.start();

  recognition.onresult = function(event) {

    var speechResult = event.results[0][0].transcript;
    recognizedSentences.textContent = '「　' + speechResult + '　」' + 'という音声が認識されました';
    if(speechResult === phrase) {
      resultPara.textContent = '想定内の答えです！';
      resultPara.style.background = 'lime';
      count++;

      	if (count < phrases.length) {
        startBtn.textContent = '次へ';
        } else {
            //終了
            startBtn.textContent = '終了';
            startBtn.addEventListener('click', battleFinish);
        }

    } else {
      resultPara.textContent = '想定外の答えです';
      resultPara.style.background = 'red';
      startBtn.textContent = 'やり直す';
    }
  }

  recognition.onspeechend = function() {
    recognition.stop();
    startBtn.disabled = false;
  }

  recognition.onerror = function(event) {
    startBtn.disabled = false;
    startBtn.textContent = 'やり直す';
    recognizedSentences.textContent = '入力時間オーバーなのでやり直してください';
  }
  
}

function battleFinish () {
    window.location.href = 'http://localhost:3000/'
}

startBtn.addEventListener('click', voiceInput);

</script>
