    <h1>音声認識テスト</h1>
    <p>ボタンを押してからフレーズを言って、音声入力をテストしてください。</p>

    <button>スタート</button>

    <div>
        <p class="phrase">ここに認識させたい文字が表示されます</p>
        <p class="result">ここに正解かどうか表示されます</p>
        <p class="output">ここに認識された音声が表示されます</p>
    </div>
