<%= render 'audio' %>

<div class="container">
  <%= render 'life_guage' %>
  <div class="monster-img-box text-center mt-1">
    <i class="nes-mario"></i>
  </div>
  <%= render 'spel_box' %>
</div>

<script>

</script>